body {
    margin: 0;
    background-color:rgb(225, 233, 241);
}

#nav {
    list-style: fixed;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#nav ul {
    float: right;
    margin-top: 7px;
}

.navlist {
    display: inline;
    text-decoration: none;
}

.navlist a {
    color: #ffffff;
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navlist a:hover{
    color:aqua;
}

#home img {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}

#hero_section {
    height: 100vh;
    width: 100vw;
    background-image: url(../assets/images/Capture.JPG);
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    padding-top: 250px;
    color: #ffffff;
}

.content h1 {
    font-size: 64px;
    color: aqua;
}

.content h2 {
    font-size: 42px;
    font-weight: 400;
}

.buttons button {
    margin-top: 20px;
    margin-right: 10px;
    background: linear-gradient(90deg, rgb(5, 217, 245), rgb(84, 201, 166));
}
.buttons button:hover{
    background: gray;
}

#about h1 {
    color: aqua;
}

.paragraph{
    font-weight: 10px;
    font-size: 24px;
    color: grey;
}

#skill h1 {
    color: aqua;
}

.skill .progress_bar {
    width: 300px;
    background-color: gray;
    height: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    
}

.skill .progress_bar .filled_bar {
    height: 20px;
    border-radius: 10px;
    background-color: rgb(107, 186, 189);
}

.skill p{
    color: black;
    margin-bottom: 0;
}

#service h1 {
    color: aqua;
}

.service_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    box-shadow: 0px 0px 5px gray;
}

.service_title {
    text-align: center;
    font-size: 32px;
    color: #ffffff;
}

.service_desc p {
    color: #ffffff;
}

#project h1 {
    color: aqua;
}

.project_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    box-shadow: 0px 0px 5px gray;
}

.project_title {
    text-align: center;
    font-size: 32px;
    color: #ffffff;
}

.project_desc p {
    color: #ffffff;
}

#contact h1 {
    color: aqua;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .social {
    margin: 0 auto;
    padding: 15px;
    display: flex;
    text-align: center;
}

footer .social a {
    text-decoration: none;
    margin-right: 10px;
}

.copyright {
    text-align: center;
    padding: 10px;
}